body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
    /* Warna latar belakang */
}

.card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    border: 1.5px solid #006BFF;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: 600;
}

h5.card-title {
    color: #006BFF;
    font-weight: 700;
    font-size: 24px;
}